/*
  Alpha Vault Financial System
  
  @author Mohamed Dhaoui
  @component ExpenseTableSplitComponent
  @description Comprehensive styling for split expense table component with responsive design
*/

/* CSS Variables */
:host {
  display: block;
  width: 100%;
}
